@model IEnumerable<Xpto.ViewModel.ViagemViewModel>

@{
  ViewBag.Title = "Viagens realizadas";
}

<h2>Histórico de viagens avaliadas</h2>
<h4>Viagens com menor avaliação</h4>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.DataInicio)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.DataFim)
    </th>
    <th>
      @Html.DisplayName("Cliente")
    </th>
    <th>
      @Html.DisplayName("Destino")
    </th>
    <th>
      @Html.DisplayName("Avaliação")
    </th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.DataInicio)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.DataFim)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Cliente.Nome)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Destino.Nome)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Avaliacao)
      </td>
    </tr>
  }

</table>

<h4> Viagens com melhor avaliação</h4>
<table class="table">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.DataInicio)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.DataFim)
    </th>
    <th>
      @Html.DisplayName("Cliente")
    </th>
    <th>
      @Html.DisplayName("Destino")
    </th>
    <th>
      @Html.DisplayName("Avaliação")
    </th>
  </tr>

  @for (int i = Model.ToList().Count -1; i >= 0; i--)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => Model.ToList()[i].DataInicio)
      </td>
      <td>
        @Html.DisplayFor(modelItem => Model.ToList()[i].DataFim)
      </td>
      <td>
        @Html.DisplayFor(modelItem => Model.ToList()[i].Cliente.Nome)
      </td>
      <td>
        @Html.DisplayFor(modelItem => Model.ToList()[i].Destino.Nome)
      </td>
      <td>
        @Html.DisplayFor(modelItem => Model.ToList()[i].Avaliacao)
      </td>
    </tr>
  }

</table>
